<header>
  <h1>Hacker News</h1>
  <p>
    <a href="#posts">new</a>
    <a href="#">comments</a>
    <a href="#">popular</a>
    <a href="#">login</a>
  </p>
</header>




<div class='post-container'>
  <% @posts.each do |post| %>
    <%= erb :"_post", layout: false, locals: {post: post} %>
  <% end %>
</div>



<form id="posts" method="post" action="/posts">
  <input type="text" name="title" placeholder="title">
  <input type="text" name="author" placeholder="author">
  <input type="text" name="content" placeholder="content">
  <input type="submit" value="submit new post">
</form>

